#locationMap {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-wrap: wrap;
          margin-left: auto;
          margin-right: 13%;
          padding-top: 72px;
          padding-bottom: 72px;
          width: 70%;
}

#h2_map {
          display: inline;
          font-family: 'RobotoFont';
          font-style: normal;
          font-weight: 300;
          font-size: 36px;
          line-height: 64px;
          color: var(--textColor);
}

#map {
          padding-left: 78px;
}

@media screen and (max-width:1300px) {
          #locationMap {
                    justify-content: flex-start;
                    margin-left: 9%;
          }
          #map {
                    padding-left: 0px;
          }
}